/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

* {
  color: white;
  overflow: hidden;
}

:root {
  --br: 20px;
  --bgmain: rgb(7, 7, 52);
  --bgsub: rgb(17, 17, 71);
}

.mainbody {
  display: flex;
  flex-direction: column;
  background-color: var(--bgmain);
  height: auto;
}

/*header*/

.header {
  height: 9.5vh;
  width: 99.5%;
  background-color: rgb(17, 17, 71);
  margin: 4px;
  border-radius: var(--br);
}

/*body*/

.body {
  display: flex;
  flex-direction: row;
  height: 44.5vh;
  width: 100%;
}

.body1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

.gps {
  width: 40%;
  height: auto;
  background-color: var(--bgsub);
  margin: 4px;
  border-radius: var(--br);
}

.logo {
  height: 14.5vh;
  width: 54.5%;
  margin: 4px;
}

.time {
  height: 14.5vh;
  width: 44.5%;
  background-color: var(--bgsub);
  /* margin: 4px; */
  border-radius: var(--br);
  margin-bottom: 10px;
  margin-right: 4px;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  height: 29.5vh;
  background-color: var(--bgsub);
  margin: 4px;
  border-radius: var(--br);
}

.body2 {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

/*footer*/

.footer {
  display: flex;
  flex-direction: row;
  height: 44.5vh;
  width: 100%;
}

.footer1 {
  display: flex;
  flex-direction: column;
  width: 24.5%;
}

.rain {
  width: 15.25%;
  background-color: var(--bgsub);
  margin: 4px;
  border-radius: var(--br);
}

.cooldata {
  width: 59.1%;
  background-color: var(--bgsub);
  margin: 4px;
  border-radius: var(--br);
}

.code {
  height: 69.5%;
  background-color: var(--bgsub);
  margin: 4px;
  border-radius: var(--br);
}

.latlong {
  height: 29.5%;
  background-color: var(--bgsub);
  margin: 4px;
  border-radius: var(--br);
}

@media (max-width:800px) {
  * {
    overflow: visible;
  }

  .header {
    width: 97vw;
  }

  .mainbody {
    height: auto;
  }

  .main {
    width: 97vw;
    height: auto;
  }

  .body {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .body2 {
    flex-direction: column;
  }

  .logo {
    width: 97vw;
  }

  .time {
    width: 97vw;

  }



  .body1 {
    width: 97vw;
  }

  .cooldata {
    width: 97vw;
    height: 70vh;
  }

  .footer {
    flex-direction: column;
    height: auto;
  }

  .gps {
    width: 97vw;
    height: 50vh;
  }

  .code {
    width: 97vw;
    height: 30vh;
  }

  .latlong {
    width: 97vw;
    height: 10vh;
  }

  .rain {
    width: 97vw;
    height: 30vh;
  }
}

.trans {
  transition: box-shadow .5s ease-in-out;
}

.trans:hover {
  box-shadow: 4px 4px 2px 2px darkblue;
}